
<footer id="redes-sociales" class="seccion-oscura d-flex flex-column align-items-center justify-content-center"> 
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
      <a href="https://es-la.facebook.com/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.whatsapp.com/?lang=es" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href= "https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
      </a>
      <a href= "https://www.tiktok.com/es/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-tiktok"></i>
      </a>
    </div>
  </footer>
