h2{
    text-align: center;
}

.card-body {
    background-color: rgb(251, 252, 191);
}

@media screen and (max-width: 1030px) {
    .card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
    }
}

@media screen and (max-width: 376px) {
    .card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
    }
}