<nav class="navbar navbar-expand-lg" style="background-color: rgb(248, 248, 132);">
    <div class="container-fluid">
        <img src="../../assets/comida-imagenes/icono.png" alt="Icono" width="90" height="90">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul  class="nav navbar-nav navbar-right flex-colum flex md-row">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <b>Inicio</b>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#carouselExampleIndicators"><b><em>Sección 1 </em></b></a></li>
                  <li><a class="dropdown-item" href="#cards-ventajas"><b><em>Sección 2</em></b></a></li>
                  <li><a class="dropdown-item" href="#carta-menu"><b><em>Sección Carta</em></b></a></li>
                </ul>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="#ubicacion"><b>Ubicación</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto"><b>Contacto</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nosotros"><b>Nosotros</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#redes-sociales"><b>Redes Sociales</b></a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
 