<br id="carta-menu">
<div  class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(235, 173, 81);">
        Platillos
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">Ramen</a></li>
        <li><a class="dropdown-item">Yakimeshi</a></li>
        <li><a class="dropdown-item">Rollo de camarón</a></li>
        <li><a class="dropdown-item">Kushikatsu mixto</a></li>
      </ul>
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(132, 247, 132);">
        Vegetariano
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">Cono california</a></li>
        <li><a class="dropdown-item">Norikato tuna</a></li>
        <li><a class="dropdown-item">Rollo california</a></li>
        <li><a class="dropdown-item">Yasai tempura</a></li>
      </ul>
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(145, 145, 250);">
        Bebidas
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">Ramune de melón</a></li>
        <li><a class="dropdown-item">Ramune de fresa</a></li>
        <li><a class="dropdown-item">Ramune de uva</a></li>
        <li><a class="dropdown-item">Ramune de sandía</a></li>
      </ul>
    </div>
  </div>
